@import 'https://fonts.googleapis.com/css?family=Rubik+One'; /* Fuente de los botones de la cabecera (Inicio, Quiz, SomosFamilia) */
@import 'https://fonts.googleapis.com/css2?family=Days+One&display=swap'; /* Fuente de "TOP 10 USUARIOS" */
@import 'https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap'; /* Fuente de los títulos del ranking de usuarios */
@import 'https://fonts.googleapis.com/css2?family=Neucha&display=swap'; /* Fuente del contenido del ranking de usuarios */

body {
	display: grid;
	grid-template-columns: 74% 26%;
	grid-template-rows: 20% 75% 5%;
	grid-template-areas:
		"header header"
		"contenido sidebar"
		"footer footer";
	background-color: #14B76E;
	background-image:url(../img/cesped.jpg);
}
/*----------------------------------------------------------------*/

div.contenido { /* Todo el contenido de la página */
	padding: 10px;
	float: left;
	max-height: 1050px;
	width: auto;
	background-color: white;
	grid-area: contenido;
	overflow: auto;
}

div#contenidoIni {
	background-color:transparent;
}

h1#tituloBienvenida{
	color:black; 
	text-align: center;
	background-color: #41CF19;
	padding: 10px;
	border: 6px solid black;
	font-size: 50px;
	font-family:"segoe UI";
}


div#opcionesLiga{
	display:flex;
	justify-content: center;
}

.divnoticias{
	min-width:600px;
    height:650px;
	overflow: auto;
}

.divnoticias div{
	
	margin-top:-10px;
}


.tablaComent{
	border: black 3px solid;
}

#comentarios{
	padding: 0.7em;
	border:black 2px solid;
}

#trComent:hover {
	background-color:#5fcf80;
}
#thComent{
	padding: 0.7em;
	border:black 2px solid;
	background-color:#42A15E;
}


img#somosFam{
	width:800px;
	height:420px;
	display: block;
	margin: auto;
}

p.somosFam{
	font-size: 18px;
}

h2#somosFam{
	font-size: 30px;
}

.botGen{
	position: relative;
	padding: 25px 10px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 65px;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#10B87B;
}

.botGen:after,
.botGen:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}

.botGen:before{
	left: -48%;
}

.botGen:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#12C987
}

.botGen:hover:after,
.botGen:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}

.botGen:hover:after{
	right: 130%;
}

.botGen:hover:before{
	left: 130%;
}

div.centro{
	text-align: center;
}


/*CLASIFICACION*/
.imgClasificacion{
	width:30px;
}

.tablaClasificacion{
	width: 90%;
	height: 100px;
	text-align: left;
}

tr:nth-child(odd) {
    background-color:#f2f2f2;
   }
tr:nth-child(even) {
    background-color:#fbfbfb;
}
.hclasificacion{
	background-color:#41CF19; 
	color: white;
	padding: 20px;
	text-align: center;
	border: 2px solid black;
}

/*----------------------------------------------------------------*/

div#pie { /* Pie de la página */
	padding: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-color: #303030;
	color: white;
	text-align: center;
	grid-area: footer;
}
/*----------------------------------------------------------------*/


div#contenedor {
	width: 1134px;
	margin: auto;
	border: 1px solid black;
	background-color: #aaaaaa;
	margin-top: 30px;
}
/*<<<<<< ESTO CREO QUE SOBRA >>>>>>>>*/


div.saludo {
	width: 100%;
	text-align: right;
}
/*<<<<<< ESTO CREO QUE SOBRA >>>>>>>>*/

.divnoticias div{
	
	margin-top:-10px;
}

.divnoticias {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}

.botGenOff{
	position: relative;
	padding: 25px 10px;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	max-width: 320px;
	height: 65px;
	overflow: hidden;
	color:black;
	cursor: pointer;
	letter-spacing: 2px;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:#EAEAEA;
}

.botGenOff:after,
.botGenOff:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}

.botGenOff:before{
	left: -48%;
}

.botGenOff:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:#EAEAEA
}

.botGenOff:hover:after,
.botGenOff:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}

.botGenOff:hover:after{
	right: 130%;
}

.botGenOff:hover:before{
	left: 130%;
}

.selectTam{
	font-size: 18px;
	width: 160px;
	height: 60px;
}

.imgNot{
	max-height: 300px;
	max-width: 400px;
	height:auto;
	width:auto;
	display: block;
	margin: auto;
}

.noticiaindiv{

	padding-top: 50px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background: #EBEBEB;
	text-align: center;
}

.iconoOp{
	padding-top: 20px;
	padding-bottom:20px;
	padding-right: 40px;
	padding-left: 40px;
}

.centraTitulosImagen{
	text-align: center;
}

#centrarBoton{
	display:block;
	margin:auto;
	
}