legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 4%;
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 200%;
}

#legendLogin {
	width: auto;
	
}

.login {
	width: 100%;
	background-color: #C2C2C2;
	padding-bottom: 40px;
}

.login input {
	
	font-family: 'Nunito', sans-serif;
	color: #384047;
}

.login label {	
	font-family: 'Rubik One', sans-serif;
	color: #384047;
	margin-left: 30px;
	margin-top: 10px;
}

#usuLogin, #passLogin {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  outline: 0;
  padding: 15px;
  width: 80%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-top: 20px;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

.formulario {
	background-color: #13232f;
	width: auto;
}

.formulario input[type="text"], .formulario input[type="password"] {
	/*float: left;*/
	font-size:18px;
	display:block;
	width:35%;
	height:100%;
	padding:5px 10px;
	margin-top: 10px;
	margin-left: 25px;
	background:none;
	background-image:none;
	border:1px solid;
	color:white;
	border-radius:0;
	border-color:#1ab188;
	transition:border-color .75s ease, box-shadow .25s ease;
}

.formulario input:focus {
	outline:0;
	border-color:#51FF00;
}

.formulario .radioForm {
	border-color: blue;
	background-color: yellow;
	
}

.botonEnviar {
	border:0;
	outline:none;
	border-radius:50px;
	margin-bottom: 15px;
	margin-left: 44%;
	padding:15px;
	font-size:120%;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.1em;
	background:#1ab188;
	color:white;
	transition:all.5s ease;
	-webkit-appearance: none;
}

.botonEnviar:hover, .botonEnviar:focus {
	background:#51FF00;
}

/*input[type="text"], input[type="password"] {
	
	
}*/

button {
	margin: 0 auto;
}